.question-image {
    width: 320px; /* Fixed width */
    height: 380px; /* Fixed height */
    object-fit: cover; /* This ensures the image covers the area without stretching */
    border-radius: 10px; /* Optional: for rounded corners */
  }
  
  .quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .options-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    align-content: center;
  }
  
  .question-title {
    margin-bottom: 10px;
  }
  
  .option-button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 180px;
    color: #fff;
  }
  
  